@font-face {
  font-family: 'PPierSans';
  src: url('../Fonts/PPPierSans-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'PPierSans';
  src: url('../Fonts/PPPierSans-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'SegoeUI-Light';
  src: url('../Fonts/segoe-ui-light.ttf') format('truetype');
  font-weight: normal;
}

:root {
  --accent-color: #30d695;
  --accent-color-hover: #269c6f;
  --secondary-color: #2e2e2e;
  --primary-color: #181818;
  --text-color: #ffffff;
}

body{
  margin: 0;
  padding: 0;
}

/*BACKGROUND*/
#background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #1b1b1b, #004724, #0a0a0a, #141e30);
  background-size: 400% 400%;
  animation: gradientAnimation 10s infinite ease-in-out;
  z-index: -1;
  }
  
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  /*MAIN*/
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .logo {
    width: 150px;
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
  }
  
  .container h1{
    font-family: 'SegoeUI-Light';
    color: #FFFFFF;
    font-size: 56px;
    margin-top: 20px;
    animation: fadeIn 2s ease-in-out;
  }

  .container h2 {
    font-family: 'SegoeUI-Light';
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 10px;
    animation: fadeIn 2s ease-in-out;
    margin-bottom: -5px;
  }

  .container p {
    font-family: 'SegoeUI-Light';
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 10px;
    animation: fadeIn 2s ease-in-out;
  }

  .login-button {
    font-family: 'SegoeUI-Light';
    background-color: var(--accent-color);
    color: #000000;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: fadeIn 2s ease-in-out;
  }

  .login-button:hover {
    transform: scale(1.05);
  }

  .login-button:active {
    transform: scale(0.95);
  }

  .login-button a {
    text-decoration: none;
    padding: 10px 20px;
    color: #000000;
  }

  .register-button {
    font-family: 'SegoeUI-Light';
    background-color: #1e9769;
    color: #000000;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: fadeIn 2s ease-in-out;
  }

  .register-button:hover {
    transform: scale(1.05);
  }

  .register-button:active {
    transform: scale(0.95);
  }

  .register-button a {
    text-decoration: none;
    padding: 10px 20px;
    color: #000000;
  }
  
  footer {
    font-family: 'SegoeUI-Light';
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: var(--text-color)
  }
  